contourpy==1.2.0+computecanada
coverage==7.6.4+computecanada
cycler==0.12.1+computecanada
dedalus==2.2207.3+computecanada
docopt==0.6.2+computecanada
exceptiongroup==1.3.0+computecanada
fonttools==4.56.0+computecanada
iniconfig==2.1.0+computecanada
kiwisolver==1.4.5+computecanada
matplotlib==3.7.2+computecanada
numpy==1.25.2+computecanada
packaging==25.0+computecanada
Pillow==10.1.0+computecanada
pluggy==1.6.0+computecanada
py==1.11.0+computecanada
py_cpuinfo==9.0.0+computecanada
pygments==2.19.2+computecanada
pyparsing==3.0.9+computecanada
pytest==8.4.1+computecanada
pytest_benchmark==4.0.0+computecanada
pytest_cov==6.2.1+computecanada
pytest_parallel==0.1.1+computecanada
python_dateutil==2.9.0.post0+computecanada
scipy==1.11.2+computecanada
six==1.17.0+computecanada
tblib==3.1.0+computecanada
tomli==2.2.1+computecanada
typing_extensions==4.14.1+computecanada
