coverage==7.7.0+computecanada
dedalus==3.0.2+computecanada
docopt==0.6.2+computecanada
imageio==2.37.0+computecanada
imageio-ffmpeg==0.4.2+computecanada
iniconfig==2.0.0+computecanada
packaging==25.0+computecanada
pluggy==1.5.0+computecanada
pooch==1.8.2+computecanada
py==1.11.0+computecanada
pytest==8.3.4+computecanada
pytest_benchmark==4.0.0+computecanada
pytest_cov==6.0.0+computecanada
pytest_parallel==0.1.1+computecanada
pyvista==0.44.2+computecanada
scooby==0.10.0+computecanada
tblib==3.0.0+computecanada
xarray==2025.3.0+computecanada
