coverage==7.6.4+computecanada
dedalus==2.2207.3+computecanada
docopt==0.6.2+computecanada
exceptiongroup==1.2.2+computecanada
h5py==3.8.0+computecanada
iniconfig==2.0.0+computecanada
platformdirs==4.3.8+computecanada
pluggy==1.5.0+computecanada
pooch==1.8.2+computecanada
py==1.11.0+computecanada
py_cpuinfo==9.0.0+computecanada
pytest==8.3.4+computecanada
pytest_benchmark==4.0.0+computecanada
pytest_cov==6.0.0+computecanada
pytest_parallel==0.1.1+computecanada
pyvista==0.44.2+computecanada
scooby==0.10.0+computecanada
tblib==3.0.0+computecanada
tomli==2.2.1+computecanada
vtk==9.2.5+computecanada
